<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make new product</title>
  </head>
  <body>
    <h1>Add new product</h1>
    <form action="/products" method="post">
      <label for="name"> Name</label>
      <input type="text" , name="name" id="name" placeholder="Product Name" />
      <label for="price"> Price</label>
      <input type="number" , name="price" id="price" placeholder="Price" />
      <label for="category">Category</label>
      <select name="category" id="category">
        <% for(let category of categories) {%>
        <option value="<%= category %>"><%= category %></option>
        <% } %>
      </select>
      <button>Submit</button>
      <a href="/products">Home</a>
    </form>
  </body>
</html>
