<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Templating With Express</title>
  </head>
  <body>
    <h1>Welcome Home <%= 8+94+78 %></h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae consectetur
      eaque mollitia at error reprehenderit? Et laborum nam expedita excepturi
      quis perferendis ullam saepe illum. Aliquam explicabo perferendis debitis.
      Nihil, fuga! Nemo, aliquam rem. Voluptatibus, aliquid beatae voluptatem et
      assumenda perferendis fugiat ullam, nostrum dignissimos id minus
      repellendus qui ratione?
    </p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus natus est
    ipsa corporis, minus sed mollitia odit repellat, dolores quaerat accusamus
    obcaecati voluptatibus? Cumque, expedita. Cupiditate facere placeat ad
    accusamus a vel, quidem perferendis aliquid vero consequatur hic id nisi
    minima ea recusandae provident, ipsam, eius ullam autem in corporis.
  </body>
</html>
