<%- include('partials/head') %>

  <body>
    <%- include('partials/navbar') %>
    <h1>The Heroes are</h1>
    <ul>
      <% for(hero of heroes){ %>
      <li><%= hero %></li>
      <% } %>
    </ul>
  </body>
</html>
